<template>
  <div class="home">
    <Post v-for="post in posts" :key="post.id" :post="post"/>
    <div id="body-loadmore" v-show="!noNewPosts">
      <Loading style="margin: 0 auto;"/>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import { API_URL } from '@/config'
import Post from '@/components/Post.vue'
import Loading from '@/components/Loading.vue'
import img404 from '@/assets/404.jpg'
import io from 'socket.io-client'

const previewHeight = (screen.height * 2 / 3) + 'px'
let lastTarget

export default {
  name: 'Home',
  data () {
    return {
      noNewPosts: false,
      img404,
      lastPostID: 0,
      loadingPost: false,
      posts: [],
      postLimit: 30
    }
  },
  components: {
    Post,
    Loading
  },
  mounted () {
    document.addEventListener('scroll', this.onScroll)
    this.fetchMoreImgsDebound = this.debounce(this.fetchMoreImgs, 1000)
    this.fetchMoreImgs()
    this.connectSocket()
  },
  methods: {
    onScroll ($e) {
      this.onScrollLoadMore($e, this.$el.querySelector('#body-loadmore'), this.fetchMoreImgsDebound)
    },
    fetchMoreImgs () {
      this.log('loadmore')
      if (this.loadingPost || this.noNewPosts) return
      this.loadingPost = true
      this.ifetch('/api/imgs', {
        qs: {
          limit: this.postLimit,
          start: this.lastPostID
        }
      }).then(json => {
        if (json instanceof Array) {
          this.posts = this.posts.concat(json)
          if (json.length < this.postLimit) this.noNewPosts = true
          json.forEach(p => {
            if (p.id > this.lastPostID) {
              this.lastPostID = p.id
            }
          })
        }
        this.loadingPost = false
      }).catch(e => {
        this.loadingPost = false
        this.error(e)
      })
    },
    previewPost ($e) {
      const target = $e.target.closest('.post-item')
      if (!target) return
      if (lastTarget && lastTarget !== target) {
        lastTarget.style.height = '165px'
        lastTarget.style.display = 'inline-block'
      }
      lastTarget = target
      if (target.style.height !== previewHeight) {
        target.style.height = previewHeight
        target.style.display = 'inherit'
      } else {
        target.style.height = '165px'
        target.style.display = 'inline-block'
      }
      target.scrollIntoView({ block: 'end', behavior: 'smooth' })
    },
    connectSocket () {
      const socket = this.socket = io(API_URL)
      socket.on('new-post', post => {
        this.posts.push(post)
      })
    }
  }
}
</script>
<style>
.home {
  text-align: center;
}
</style>
