<template>
  <div class="upload">
    <input
      type="file"
      style="display: none"
      ref="fileinput"
      @change="chooseFile"
      accept="image/*"
      multiple
    >
    <div class="post-item upload-btn" style="height: 70px" @click="$refs.fileinput.click()">
      <img src="@/assets/plus.png" title="Thêm ảnh">
    </div>
    <div v-for="img in imgs" :key="img.src" class="post-item" @click="deleteImg($event, img)">
      <div style="display: absolute;" v-show="img.uploaded !== 0">
        <img v-show="img.uploaded === 1" src="@/assets/success.png" style="position: absolute; height: 35px;">
        <img v-show="img.uploaded === 2" src="@/assets/loading.gif" style="position: absolute; height: 35px;">
      </div>
      <img :src="img.src">
    </div>
    <div
      v-show="imgs.length > 0"
      class="post-item upload-btn"
      style="height: 70px"
      @click="doUpload"
    >
      <img title="Tải lên tất cả" src="@/assets/upload.png">
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      imgs: []
    }
  },
  methods: {
    chooseFile ($e) {
      const target = $e.target
      const files = target.files
      if (files.length > 1) {
        this.imgs = []
      }
      for (let f of files) {
        this.imgs.push({ f, uploaded: 0, src: URL.createObjectURL(f) })
      }
    },
    doUpload () {
      for (let img of this.imgs) {
        if (img.uploaded) continue
        const body = new FormData()
        body.append('file', img.f, img.name)
        img.uploaded = 2
        this.ifetch('/api/upload', {
          method: 'POST',
          body
        }).then(json => {
          if (json.error) {
            throw new Error(json.error)
          }
          // success
          if (json.success) {
            img.uploaded = 1
          }
        }).catch(e => {
          this.error(e)
          img.uploaded = 0
        })
      }
    },
    deleteImg ($e, f) {
      const i = this.imgs.indexOf(f)
      if (~i) {
        this.imgs.splice(i, 1)
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    let mustConfirm = false
    for (let img of this.imgs) {
      if (img.uploaded !== 1) {
        mustConfirm = true
      }
    }
    if (mustConfirm === false) {
      next()
      return
    }
    const answer = window.confirm('Do you really want to leave? you have unsaved changes!')
    if (answer) {
      next()
    } else {
      next(false)
    }
  }
}
</script>
<style>
.upload {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.upload-btn:hover {
  box-shadow: none;
  cursor: pointer;
}
.upload > * {
  padding: 5px 5px;
}

.post-item {
  display: inline-block;
  height: 162px;
  padding: 0px 6px;
}

.post-item:hover {
  box-shadow: 0 2px 55px 0 rgba(255, 91, 91, 0.35);
}
.post-item img {
  height: inherit;
  width: auto;
}
</style>
