<template>
  <div class="post-item">
    <img
      :src="getSrc(post.src)"
      @error="$event.target.src=$parent.img404"
      @click="$parent.previewPost($event, post)"
    >
  </div>
</template>

<script>
import { API_URL } from '@/config'
export default {
  name: 'Post',
  props: ['post'],
  methods: {
    getSrc (src) {
      return (new URL(src, API_URL)).href
    }
  }
}
</script>

<style>
.post-item {
  display: inline-block;
  height: 162px;
  padding: 0px 6px;
}

.post-item:hover {
  box-shadow: 0 2px 55px 0 rgba(255, 91, 91, 0.35);
}
.post-item img {
  height: inherit;
  width: auto;
}
</style>
