<template>
  <header>
    <div class="logo">
      <router-link to="/">
        <img src="@/assets/meow.gif" title="Trang chủ">
        <h1>Cute
          <br>Cat
        </h1>
      </router-link>
      <img
        title="Tải lên"
        src="@/assets/upload.png"
        style="width: 20px; float: right; cursor: pointer"
        @click="$router.push('/upload')"
      >
    </div>
  </header>
</template>
<script>
export default {
  name: 'TheHeader'
}
</script>
<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono");
h1 {
  vertical-align: top;
  text-align: left;
  font-weight: 300;
  margin: 0;
  font-size: 1.2em;
  color: #2c3e50;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
header {
  width: 100%;
}
header .logo {
  margin: 0 auto;
  text-align: center;
}

header .logo > * {
  vertical-align: middle;
}

header .logo img {
  width: 60px;
}
</style>
