<template>
  <div id="app" v-cloak>
    <TheHeader/>
    <router-view/>
  </div>
</template>

<style>
[v-cloak] {
  display: none;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>

<script>
import TheHeader from '@/components/TheHeader'
export default {
  name: 'App',
  components: { TheHeader }
}
</script>
